In [3]:
pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pymysql

In [7]:
con = pymysql.connect(db="datawarehouse", user="root", passwd="",host="localhost",port=3306,autocommit=True)
cur = con.cursor()
cur.execute("SELECT * FROM toko")
data = cur.fetchall()

print(data)

((1, 'dimasolshop', 'bulak', 98),)

In [22]:
con = pymysql.connect(db="datawarehouse", user="root", passwd="",host="localhost",port=3306,autocommit=True)
cur = con.cursor()
cur.execute("select item, negara, round(avg(harga), 2) as average_harga  from observasi 
 left join item using (id_item)
 left join lokasi using (id_lokasi)
where 
 item = 'Waffles'
group by
 item, negara
order by
 average_harga asc " )
data = cur.fetchall()

print(data)

SyntaxError: EOL while scanning string literal (<ipython-input-22-c253c9bfe825>, line 3)

In [24]:
con = pymysql.connect(db="datawarehouse", user="root", passwd="",host="localhost",port=3306,autocommit=True)
cur = con.cursor()
cur.execute("SELECT * FROM item")
data = cur.fetchall()

print(data)

((1, 'celery', 'produce'), (2, 'cucumber', 'produce'), (3, 'litle drink', 'beverages'), (4, "l'oven fresh", 'booked goods'), (5, 'butter', 'dairy'), (6, 'cat litter', 'non foods'), (7, 'tissues', 'non foods'), (8, 'snack crackers', 'snack'), (9, 'belmont chocholate', 'snack'), (10, 'texas chesee', 'frozen'))

In [25]:
con = pymysql.connect(db="datawarehouse", user="root", passwd="",host="localhost",port=3306,autocommit=True)
cur = con.cursor()
cur.execute("SELECT * FROM lokasi")
data = cur.fetchall()

print(data)

((1, 'bangkok', 'krung thep mahanal', 'thailand'), (2, 'venlo', 'limburg', 'netherlands'), (3, 'paris', 'ile-de-france', 'france'), (4, 'victoria falls', 'matabeland norti', 'zimbawe'), (5, 'finlayson', 'minnesota', 'unite states'), (6, 'hechi', 'guangxi', 'china'), (7, 'venlo', 'limburg', 'netherlands'), (8, 'seven rives', 'westmoreland', 'jamaica'), (9, 'london', 'ontario', 'canada'), (10, 'santiago', 'santiago', 'domician republic'))

In [26]:
con = pymysql.connect(db="datawarehouse", user="root", passwd="",host="localhost",port=3306,autocommit=True)
cur = con.cursor()
cur.execute("SELECT * FROM observasi")
data = cur.fetchall()

print(data)

((1, 1, 1, 0.79), (2, 2, 2, 0.69), (3, 3, 3, 0.59), (4, 4, 4, 3.09), (5, 5, 5, 0.69), (6, 6, 6, 0.28), (7, 7, 7, 0.49), (8, 8, 8, 0.89), (9, 9, 9, 2.29), (10, 10, 10, 0.63))

In [35]:
con = pymysql.connect(db="datawarehouse", user="root", passwd="",host="localhost",port=3306,autocommit=True)
cur = con.cursor()
cur.execute ('''select item, negara, round(avg(harga), 2) as average_harga  from observasi 
 left join item using (id_item)
 left join lokasi using (id_lokasi)
where 
 item = 'Waffles'
group by
 item, negara
order by
 average_harga asc 
 '''
)

data = cur.fetchall()

print(data)

()